.content-total{
	border-radius: 5px;
	background-color: #fff;
	margin-right: 40px;
	margin-top: 10px;
}
.flypanel-content-total{
	/*margin:20px;*/
	/* height:30px; */
	/* border-bottom: 1px dashed #cccccc; */
}
.original-content-title{
	color: rgba(41, 169, 232, 1);
	font-size: 15px;
	border-bottom: 1px dashed #cccccc;
	padding: 10px 10px 10px 10px;
}
.content-total2{
	border-radius: 5px;
	background-color: #fff;
	margin-right: 40px;
	margin-top: 20px; 
}
.replace-ways-title{
	color: rgba(41, 169, 232, 1);
	font-size: 15px;
	border-bottom: 1px dashed #cccccc;
	padding: 10px 10px 10px 10px;
}
.content-location{
	margin-top:20px;
}
.location-title{
	color: rgba(41, 169, 232, 1);
	font-size: 15px;
}

/*文字在框上start */
.method-wrap{
	position: relative;
	border: 1px solid #cccccc;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
}
.method-wrap .title{
	position: absolute;
	top: -1em;
	left: 5%;
	line-height: 2em;
	padding: 0 1em;
	background-color: #fff;
	color: rgba(41, 169, 232, 1);
	font-size: 15px;
}
/* 方法一 end */
.radio-table{
    margin: auto;
    font: 14px/1.5 Consolas, 微软雅黑;
}
.radio-table td{
    padding-right: 80px;
}
.location-title2{
	color: rgba(41, 169, 232, 1);
	font-size: 15px;
	float: left;
	margin-top:25px; 
	margin-left: 40px;
}
.total-table-div{
	background: white;
	padding-bottom: 30px;
}
.input-textarea2{
	margin: 10px 0px 10px 0px;
}
/*清洗页面的表格开始*/
.total-table {
	text-align: center;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	margin-top: 30px;
	border: 1px solid #eee;
}
.total-table td, .total-table th {
	padding: 10px;
	margin: 0;
	text-align: center;
}
.total-table thead {
	background-color:rgba(41, 169, 232, 1);
	color: #fff;
	font-weight: 800;
}
.total-table tbody tr td{
	border: 1px solid #eee;
}
.total-table tbody tr:hover td{
	background-color: #eee;
	color: rgba(41, 169, 232, 1);
}
/*清洗页面的表格结束*/

/*bottom*/
.content-bottom {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px; 
	display: flex;
	height: 200px;
	flex-wrap: wrap;
	background-color: #fff;
}
.bottom-link{
	color: #337ab7;
	text-decoration: none;
}
/*初步按综合查询权重筛选*/
.content-bottom-data-title {
	padding-top: 10px;
	height: 40px;
}
/* 相似度匹配计算方法 */
.content-bottom-process-title {
	padding-top: 10px;
	height: 40px;
}
.no-repeat-way{
	border-bottom:  1px dashed #cccccc;	
	color: rgba(41, 169, 232, 1);
	font-size: 15px;
	margin-left: -15px;
}
.text-input{
	width: 60px;
	border: 1.5px solid #cccccc;
	border-radius: 3px;
}
.small-text{
	font-size: 14px;
}
.small-text input{
	margin-bottom: 30px;
}
.layui-input-block{
	margin-left:-1px;
}