.drop-down-box{
	height: 25.34px;
	width: 400px;
	margin-left: 20px;
	border: 1px solid #cccccc;
}
.drop-down-box-date{
	height: 25.34px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}
.search{
	text-align: center;
}
#search-box{
	width: 300px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 25.34px;
	padding: 10px;
}
.search-button{
	background: rgba(41, 169, 232, 1);
	color: white;
	border: none;
	height: 25.34px;
	padding: 0px 10px 0px 10px;
	border-radius: 3px;
}
.choose-type{
	background: white;
	margin-top:20px; 
	padding-top: 20px;
	padding-left: 30px;
}
.belong-to-type{
	border-bottom: 1px dashed #cccccc;
	padding-bottom:10px;
	text-decoration: none;
}
.belong-to-type li:hover,.belong-to-type .active{
	color:#fff;
	background-color: rgba(41, 169, 232, 1);
	text-decoration: none;
	height: 35px;
	border-radius: 3px;
}
.active a{
	color: #fff;
	text-decoration: none;
}
.belong-to-type a:hover{
	color: #fff;
	text-decoration: none;
}
.belong-to-type li{
	display: inline;
	width: 80px;
	padding: 10px;
}
.capitalinfo,.equityinfo,.estateinfo,.assetinfo,.moneyinfo,.judicialinfo,.wageinfo,.otherinfo{
	display: none;
}
.allinfo,.capitalinfo,.equityinfo,.estateinfo,.assetinfo,.moneyinfo,.judicialinfo,.wageinfo,.otherinfo{
	padding-top: 20px;
	border-bottom: 1px dashed #cccccc;
	padding-bottom:10px;
}
.layui-input-inline{
	margin-left: 25px;
	width: 400px;
}
.drop-down-box-date{
	margin-left: 30px;
	width: 100px;
}
.drop-down-box-year,.drop-down-box-month,.drop-down-box-day{
	border-color: #e6e6e6;
	height: 38px;
}
.drop-down-box-month{
	margin-left: 55px;
}
.drop-down-box-day{
	margin-left: 55px;
}
.choose-time{
	padding-top: 20px;
	padding-bottom:10px;
}
.search-results{
	background: white;
	margin-top: 30px;
	padding: 20px 10px 40px 30px;
}
h4{
	font-weight:bold;
	font-size: 20px;
}
/*弹框*/
.window{ 
    width:1200px; 
    background-color:rgba(41, 169, 232, 1);
    position:absolute; 
    padding:2px; 
    margin:5px; 
    display:none; 
    } 
.popup-content{ 
    height:500px; 
    background-color:#FFF; 
    font-size:14px; 
    overflow:auto; 
    } 
.title{ 
        padding:2px; 
        color:#fff;
        font-size:14px; 
        } 
.title img{ 
        float:right; 
        width: 20px;
        height: 20px;
}
/*弹框结束*/
.three-link{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
.show-content{
	margin-right: 20px; 
}
.collect{
	margin-right: 20px; 
}
.bottom-link{
	color: #337ab7;
	text-decoration: none;
}